.align{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.align-2{
    width: 50%;
    background-color: #F7F7F7;
}
.chatting{
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 170px;
}
.artificial{
    width: 30%;
}
@media(max-width: 800px){
    .align-2{
        display: none;
    }
}
